<div class="h-screen">
    <app-header>
    </app-header>
    
    <section class="conteudo_principal">
        <div class="conteiner conteiner_inputs">
        <h1 class="map_title">de_inferno</h1>
        
        <div class="formulario_container">
            
            <label for="bombsite" class="tittle">Bomb Site
                <input type="text" id="bombsite" class="input_map_info">
            </label>
            
            <label for="Heavy" class="tittle">Heavy
                <input type="text" id="Heavy" class="input_map_info">
            </label>
            
            <label for="tickRate" class="tittle">TickRate
                <input type="text" id="tickRate" class="input_map_info">
            </label>
            
            <label for="filtro" class="tittle">????
                <input type="text" id="filtro" class="input_map_info">
                </label>
                
            </div>
        </div>
        <div class="container container_imagem">
            <img src="../../../assets/images/inferno-cs.jpg" alt="mapa_em_questão" width="500" style="grid-column-start: 2">
        </div>
    </section>
    <section class="conteudo_videos">
        <h2 class="tittle tutorials_titulo">Tutorials</h2>
    </section>
</div>