<div class="h-screen">
  <app-header>
  </app-header>
  <section class="conteudo">
    <img src="../../../assets/images/lçgo-removebg-preview.png" alt="logo_cs" width="100" height="100">
    <h1 class="titulo">CsBombs</h1>  
    <select class="select select-warning w-full max-w-xs">
      <option value="" disabled selected hidden>Select your option</option>
      <option value="#">Dust2</option>
      <option value="#">Inferno</option>
      <option value="#">Mirage</option>
      <option value="#">Overpass</option>
      <option value="#">Vertigo</option>
      <option value="#">Cache</option>
    </select>
  </section>
</div>