<div class="h-screen">
    <app-header>
    </app-header>
    <section class="conteudo_principal">

        <div class="container container_img place-content-center">
            <img src="../../../../assets/images/cursedgoat.png" alt="img_perfil" class="p-50 place-items-center" style="width: 400px; border-radius: 1000px;">
        </div>

        <div class="container container_form_infos">
            
            <div class="inputs_container grid grid-cols-2 gap-2">
                <label class="tittle py-10 w-96"> Login
                    <input class="w-[100%] bg-transparent text-center rounded border-4 border-[var(--azul-principal)] font-krona text-[12px] text-[var(--laranja-principal)] my-2 h-10" type="text">
                </label>
                <label class="tittle py-10 w-96"> E-mail
                    <input class="w-[100%] bg-transparent text-center rounded border-4 border-[var(--azul-principal)] font-krona text-[12px] text-[var(--laranja-principal)] my-2 h-10" type="text">
                </label>
                <label class="tittle py-10 w-96"> Created At
                    <input class="w-[100%] bg-transparent text-center rounded border-4 border-[var(--azul-principal)] font-krona text-[12px] text-[var(--laranja-principal)] my-2 h-10" type="text">
                </label>
                <label class="tittle py-10 w-96"> Accounte type
                    <input class="w-[100%] bg-transparent text-center rounded border-4 border-[var(--azul-principal)] font-krona text-[12px] text-[var(--laranja-principal)] my-2 h-10" type="text">
                </label>
            </div>
        </div>
    </section>
    <section class="botoes_permissoes">
        <h2 class="tittle2 tutorials_titulo text-[36px]">Permissions</h2>
        <div class="container_permissoes w-[100%]">
            <div class="flex bg-[#1D2C49] items-center justify-center rounded-[10px] w-[125px] h-[95px]">
                <button class="w-[125px] h-[95px]" (click)="redirectToCreate()">New Map</button>
            </div>
        </div>
    </section>
</div>
