<div class="h-screen">
    <app-header>
    </app-header>
    
    <section class="conteudo_principal">
        <div class="conteiner conteiner_inputs">
        <h1 class="map_title">{{ par }}</h1>

        <div class="formulario_container">
            
            <label for="bombsite" class="tittle">Team
                <select class="select w-[60%] bg-transparent text-center rounded border-4 border-[var(--azul-principal)] font-krona text-[12px] text-[var(--laranja-principal)] my-2">
                    <option selected disabled hidden></option>
                    <option value="A">Counter-Terrorist</option>
                    <option value="A">Terrorist</option>
                </select>
            </label>
        
            <label for="Heavy" class="tittle">Heavy
                <select class="select w-[60%] bg-transparent text-center rounded border-4 border-[var(--azul-principal)] font-krona text-[12px] text-[var(--laranja-principal)] my-2">
                    <option selected disabled hidden></option>
                    <option value="A">Smoke</option>
                    <option value="A">Molotov</option>
                    <option value="A">Flash Bang</option>
                </select>
            </label>
            
            <label for="tickRate" class="tittle">Site       
                <select class="select w-[60%] bg-transparent text-center rounded border-4 border-[var(--azul-principal)] font-krona text-[12px] text-[var(--laranja-principal)] my-2">
                    <option selected disabled hidden></option>
                    <option value="A">A</option>
                    <option value="A">B</option>
                </select>
            </label>
            
            <label for="filtro" class="tittle">Map Selected
                <select class="select w-[60%] bg-transparent text-center rounded border-4 border-[var(--azul-principal)] font-krona text-[12px] text-[var(--laranja-principal)] my-2"></select>
            </label>
                
            </div>
        </div>
        <div class="container container_imagem">
            <img src="../../../assets/images/inferno-cs.jpg" alt="mapa_em_questão" width="500" style="grid-column-start: 2">
        </div>
    </section>
    <section class="conteudo_videos">
        <h2 class="tittle tutorials_titulo">Tutorials</h2>
    </section>
</div>