<div class="h-screen">
    <app-header></app-header>
    <section class="flex justify-center items-center">
        <div class="flex flex-col w-[50%] bg-[var(--azul-principal)]">

            <p class="flex items-center justify-center p-[20px] text-[24px] ">The heavy's and teams options are automatically registered</p>

            <label for="mapName"> Map Name
                <input id="mapName" type="text">
            </label>
            <label for="mapPicture"> Map Picture
                <input id="mapPicture" type="text">
            </label>
            <label for="mapSite"> Map Site
                <input id="mapSite" type="text">
            </label>
        </div>
    </section>
</div>