
<header class="cabecalho">
<div class="container_logo">
        <a href="" class="botao_logo"><img src="../../../assets/images/lçgo-removebg-preview.png" alt="logo_cs" width="50px"></a>
    </div>

    <div class="container container_botoes" style="grid-column-start: 2" >
        <button class="btn btn1 bg-[--azul-principal] btn-neutral font-krona text-[12px] w-[125px] h-[40px] text-[15px]">Register</button>
        <button class="btn btn2 bg-[--laranja-principal] btn-neutral font-krona text-[12px] w-[125px] h-[40px] text-[15px] ">Login</button>
    </div>
</header>